# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config.json

# Dependencies
.packages
.pub-cache/
.pub/
packages/
.dart_tool/

# IDE files
.vscode/
.idea/
*.iml
.metadata
.project
.settings/

# Android
android/.gradle/
android/local.properties
android/.idea/
android/app/build/
android/app/src/main/assets/flutter_assets/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json